---
title: "index"
---
<!-- NavBar Section -->
<%#= partial 'partials/navbar' %>

<div class="container ">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Sorry!</h4>
    <p>This site on mobile devices is currently under construction.</p>
    <hr>
    <p class="mb-0">Try visiting me on a desktop! Or come back again soon.</p>
    <p class="mb-0">Sorry for the inconvenience.</p>
  </div>

  <!-- Social buttons Section -->
  <%= partial 'partials/social-buttons' %>

  <!-- About Section -->
  <%= partial 'partials/about' %>

  <!-- Works Section -->
  <%= partial 'partials/works' %>

  <!-- Technologies Section -->
  <%= partial 'partials/technologies' %>

  <!-- Resume Section -->
  <%= partial 'partials/resume' %>

  <!-- Footer Section -->
  <%= partial 'partials/footer' %>
</div>
