---
title: "index"
---

<div class="container ">
  <!-- Social buttons Section -->
  <%= partial 'partials/social-buttons' %>

  <!-- About Section -->
  <%= partial 'partials/about' %>

  <!-- Works Section -->
  <%= partial 'partials/works' %>

  <!-- Technologies Section -->
  <%= partial 'partials/technologies' %>

  <!-- Resume Section -->
  <%= partial 'partials/resume' %>

  <!-- Footer Section -->
  <%= partial 'partials/footer' %>
</div>
