<!-- NavBar Section -->
<%= partial 'partials/navbar' %>

<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>

  <!-- Social buttons Section -->
  <%= partial 'partials/social-buttons' %>

  <!-- Works Section -->
  <%= partial 'partials/works' %>

  <!-- Technologies Section -->
  <%= partial 'partials/technologies' %>

  <!-- Resume Section -->
  <%= partial 'partials/resume' %>

  <!-- Footer Section -->
  <%= partial 'partials/footer' %>
</div>
