<!-- NavBar Section -->
<%= partial 'partials/navbar' %>
<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>

<div id="right-buttons">
  <div class="button-social">
    <i class="fa-brands fa-github button-social-icon"></i>
    <%= link_to "", "https://github.com/jess-nash", target: '_blank', class: 'button-social-link' %>
  </div>
  <div class="button-social">
    <i class="fa-brands fa-linkedin button-social-icon"></i>
    <%= link_to "", "https://www.linkedin.com/in/jess-nash", target: '_blank', class: 'button-social-link' %>
  </div>
  <div class="button-social">
    <i class="fab fa-twitter button-social-icon"></i>
    <%= link_to "", "https://twitter.com/itsmikutan", target: '_blank', class: 'button-social-link' %>
  </div>
  <div class="button-social">
    <i class="fa-solid fa-envelope button-social-icon"></i>
    <%= mail_to "jessicanashdev@gmail.com", "", target: '_blank', class: 'button-social-link' %>
  </div>
</div>

  <!-- Works Section -->
  <%= partial 'partials/works' %>
  <!-- Technologies Section -->
  <%= partial 'partials/technologies' %>
  <!-- Resume Section -->
  <%= partial 'partials/resume' %>
  <!-- Footer Section -->
  <%= partial 'partials/footer' %>
</div>
