---
title: "index"
---

<!-- MAIN SECTION-->
<main class="container">
  <!-- Home Section -->
  <header id="home">
    <%= partial 'partials/home' %>
  </header>

  <!-- Portfolio Section -->
  <section id="portfolio">
    <%= partial 'partials/portfolio' %>
  </section>

  <!-- Technologies Section -->
  <section id="tech">
    <%#= partial 'partials/technologies' %>
    <%= partial 'partials/tech' %>
  </section>

  <!-- Resume Section -->
  <section id="resume">
    <%= partial 'partials/resume' %>
  </section>

  <!-- Contact Section-->
  <section id="contact">
    <%= partial 'partials/contact' %>
  </section>

  <!-- Footer Section -->
  <footer>
    <%= partial 'partials/footer' %>
  </footer>
</main>
