<!-- NavBar Section -->
<%= partial 'partials/navbar' %>
<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Portfolio Section -->
  <%= partial 'partials/portfolio' %>
  <!-- Technologies Section -->
  <%= partial 'partials/technologies' %>
  <!-- Resume Section -->
  <%= partial 'partials/resume' %>
  <!-- Footer Section -->
  <%= partial 'partials/footer' %>
</div>
